<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="columns is-multiline">
            {% for character in characters %}
                <div class="column is-one-quarter-desktop is-half-tablet">
                    <div class="card is-fluid">
                        <div class="card-image">
                            <figure class="image is-fluid">
                                <img src="{{ character.image }}" alt="">
                            </figure>
                            <div class="card-content is-overlay is-clipped">
              <span class="tag is-info">
                # {{ character.api_id }}
              </span>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a class="card-footer-item" href="/characters/detail/{{ character.api_id }}">
                                {{ character.name }}
                            </a>
                            <a class="card-footer-item">
                                <i class="fas fa-heart"></i>
                            </a>

                        </footer>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}