{% load static %}
<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static 'images/core/nav-bar-logo.png' %}" width="150px">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    {% if request.user.is_authenticated %}
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger" href="{% url 'logout' %}">
                            <strong>Logout</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger" href="{% url 'signup' %}">
                            <strong>Sign up</strong>
                        </a>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-danger is-light" href="{% url 'login' %}">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</nav>